*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body{
    min-height:100vh;
    
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.worper{
   background-color:white;
   width:450px;
   padding: 30px;
   border-radius: 5px;
}

.upload{
    height: 300px;
    border:2px dotted rgba(0,0,0,0.6);
    display: flex;
     flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom:15px;
}




/* ................bottom............ */
.left,.right{
    display:flex;
    flex-direction: column;
    align-items:start;
   
}

.bottom{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-row-gap:15px;
}
.btn{
    grid-column:1/3;
    padding:10px;
    background-color:darkviolet;
    border: none;
    border-radius:5px;
    color: white;
    font-weight:999;
}
.right{
    justify-self: right;
}

 .width,.height{
 height:35px;
 border:0.3px solid rgba(0,0,0,0.5);
 margin:10px 0px;
 outline: none;
 padding:0px 5px;
 border-radius:5px;
}

.preview img{
    height:100%;
    width: 100%;
    object-fit: contain;
    
}
.preview{
    border: none;
}

.preview h4{
    display: none;

}



